.jumbotron {
  background: url("~Top_appp.png") center no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  border-radius: 0;
}

.text-top-color {
  background: #ff476b;
  color: #ffffff;
  font-weight: 600;
  padding: 6px 24px;
}

.top-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  white-space: nowrap;
}

.top-authentication {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__sign-up-btn {
    background: #ff476b;
    border-radius: 30px;
    padding: 6px;
    white-space: nowrap;
  }
  &__sign-in-btn {
    background: #ff476b;
    border-radius: 30px;
    padding: 6px;
    white-space: nowrap;
  }
}

.text-primary {
  color: #08ccad !important;
  font-weight: 600;
}

.text-primary2 {
  color: #876bfa !important;
  font-weight: 600;
}

.btn-info {
  background: #08ccad;
  color: #ffffff !important;
}

.btn-info2 {
  background: #876bfa;
  color: #ffffff !important;
}

@media (max-width: 767px) {
  .navbar__sign-in-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .top-authentication {
    &__sign-in-btn {
      display: none;
    }
  }
}
